<?xml version="1.0"?>
<model>
  <name>uuv_hippocampus_stereo_camera</name>
  <version>1.0</version>
  <sdf version='1.6'>uuv_hippocampus_stereo_camera.sdf</sdf>

  <author>
   <name>Prasad Antervedi</name>
   <email>lanterve@asu.edu</email>
  </author>
  <author>
   <name>Daniel Duecker</name>
   <email>daniel.duecker@tuhh.de</email>
  </author>
  <author>
   <name>Philipp Hastedt</name>
   <email>philipp.hastedt@tuhh.de</email>
  </author>
  <author>
   <name>Nils Rottmann</name>
   <email>Nils.Rottmann@tuhh.de</email>
  </author>


  <description>
    This model has stereo camera added to HippoCampus AUV. The HippoCampus AUV is from the Technical University Hamburg-Harburg (TUHH, Germany).
    https://www.tuhh.de/mum/forschung/forschungsgebiete-und-projekte/flow-field-estimation-with-a-swarm-of-auvs.html
  </description>
</model>
